.header {
  border-bottom: 1px solid black;
  margin-bottom: 2em;
}

.logo {
  /* this is because I don't have a real logo */
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

.footer {
  border-top: 1px solid black;
  margin-top: 2em;
}

.copyright {
  text-align: left;
}

form.new-print {
  font-size: 125%;
}

form.new-print input {
  width: 100%;
  font-size: 125%;
}

.profile-image {
  float: left;
}

.stat-units {
  font-size: .8em;
}
